/* media-Query 992 */

@media (max-width: 991px) {
  .hero-section .hero-image {
    display: none;
  }

  .header-section .conatact-btn {
    display: none;
  }

  .header-section .nav-link {
    margin: 0;
  }

  .header-section .nav-link::after {
    transform: scaleX(100%);
    margin: 0px;
    height: 1px;
  }

  .offcanvas-body {
    padding: 10px 0;
    background-color: var(--dark);
  }

  .service-section .section-title,
  .why-choose-us .section-title,
  .service-section .section-title {
    margin: 0px 0px 45px 0px;
  }

  .success-story .success-content {
    margin: 0;
  }

  .header-section .nav-link::after {
    height: 1px;
    bottom: 0;
  }

  .header-section .nav-link:hover:after {
    bottom: 0px;
  }
}

/* media-Query 768px */

@media (max-width: 767px) {
  .service-section .service-item {
    height: 370px;
  }

  .about-section .about-content h2,
  .visuals-section .section-title h2,
  .success-story .success-content h2,
  .case-study .section-title h2 {
    font-size: 30px;
  }
}

/* media-Query 575px */

@media (max-width: 575px) {
  .service-section .section-title h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .hero-section .hero-caption h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .hero-section .hero-caption p {
    margin-top: 20px;
  }

  .breadcrumb-section .breadcrumb-heading h1 {
    font-size: 20px;
  }

  .hero-section .contact-link {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .hero-section .hero-caption .contact-link {
    padding: 10px 11px;
  }
  .cta-section .learn-btn {
    padding: 10px 11px;
  }
}
